<launch>
    <!-- Turtlesim Node-->
    <node pkg="turtlesim" type="turtlesim_node" name="create_turtle"/>

    <node pkg="turtle_tf" type="turtle_tf_broadcaster"
          args="turtle1" name="turtle1_tf_broadcaster" />
    

    <node pkg="rviz" type="rviz" name="opening_rviz" args="-d '`rospack find turtle_tf`/rviz/turtle_rviz.rviz'"/>
</launch>
