<launch>
	<node pkg="turtlesim" type="turtlesim_node" name="start" />
	<node pkg="turtle_tf" type="turtle_tf_broadcaster" args="turtle1" name="etape1" />
	<node pkg="tf" type="view_frames" name="etape2" />
	<node pkg="tf" type="tf_echo"  args="world turtle1" name="etape3"/>
	<node pkg="rviz" type="rviz" name="Openrviz" args="-d '`rospack find turtle_tf`/rviz/turtle_rviz.rviz'"/>

</launch>